/*===========================RESET USTAWIEŃ PRZEGLĄDARKI=======================*/
    *{
        user-select: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

    html{
        font-size: .625em;
        font-family: 'Roboto', sans-serif;
}
/*===========================RESET USTAWIEŃ PRZEGLĄDARKI=======================*/



/*===============================USTAWIENIA HEADERA============================*/


/*--------------1---------------USTAWIENIA HEADERA LOGO I NAWIGACJI------------------------*/
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(12,29,65);
        background: linear-gradient(90deg, rgba(12,29,65,1) 0%, rgba(4,13,33,1) 87%, rgba(4,13,33,1) 100%);
        font-family: Roboto, sans-serif;
        font-size: 1.3em;
        padding: 3px 0 0 0;
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 2;

    }
/*---------------1--------------USTAWIENIA HEADERA LOGO I NAWIGACJI------------------------*/


/*----------------2-------------USTAWIENIA NAWIGACJI------------------------*/
    header ul{
        display: flex;
        list-style-type: none;
    }

    header ul li{
        padding: 10px 10px 10px 10px;
    }

    header ul li a {
        text-decoration: none;
        color: #ffffff
    }

header ul li a:hover {
    opacity: 0.8;
    color: #1e86ed;
}

nav{
    font-weight: bold;
}


/*----------------2-------------USTAWIENIA NAWIGACJI------------------------*/



/*----------------3-------------UKRYCIE CHECKBOX I BURGERA ZAMIANA IKON------------------------*/
    label, #burger{
        display: none;
    }
    .close{
    display: none;
}
    .close{
    width: 24px;
    height: 24px;
}
/*----------------3-------------UKRYCIE CHECKBOX I BURGERA ZAMIANA IKON------------------------*/


/*===============================USTAWIENIA HEADERA============================*/
















/*===============================SECTION SLODKIEWICZ, MOON ROCKET============================*/


/*-----------------------------GŁÓWNY KONTENER------------------------*/

.section_home{
    width: 100%;
    margin: auto;
    background: rgb(12,29,65);
    background: linear-gradient(90deg, rgba(12,29,65,1) 0%, rgba(4,13,33,1) 87%, rgba(4,13,33,1) 100%);
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.article_left, .article_right{
    width: 50%;
}
/*-----------------------------GŁÓWNY KONTENER------------------------*/

/*-----------------------------LEWA STRONA IMIE NAZWISKO WYŚLIJ WIADOMOŚĆ------------------------*/



.article_left h1{
    font-size: 5em;
    font-weight: bold;
    color: #ffffff;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-left: 20%;
    transition: font-size .5s ease-in-out;
}

.article_left h2{
    font-size: 4em;
    font-weight: bold;
    color: #1e86ed;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    position: relative;
    bottom: 30px;
    transition: font-size .5s ease-in-out;
}
.article_left p{
    font-size: 1.4em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 20%;
    text-align: start;
    position: relative;
    bottom: 20px;
}

.mailto{
    text-decoration: none;
    color: #ffffff;
    background:#1e86ed ;
    padding: 10px;
    position: relative;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.375rem;
    z-index: 1;
}
.mailto:hover {
    cursor: pointer;
}

/*-----------------------------LEWA STRONA IMIE NAZWISKO WYŚLIJ WIADOMOŚĆ------------------------*/




/*-----------------------------PRAWA STRONA ANIMACJA MOON ROCKET------------------------*/

.article_right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50px;
}

#moon{
    width: 400px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket{
    padding: 50px;
    position:absolute;
    width:410px;
    height:410px;
    animation-name: spin;
    animation:spin 5s linear infinite;
}

/*-----------------------------PRAWA STRONA ANIMACJA MOON ROCKET------------------------*/



/*===============================SECTION SLODKIEWICZ, MOON ROCKET============================*/













/*============================================FOOTER=============================================*/

footer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1e86ed;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
}



.foot_about, .foot_contact, .foot_social{
    width: 33.333333%;
}



.foot_about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}
.foot_about h4{
    padding: 10px;
}
.foot_about img{
    padding: 10px;
}

.foot_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foot_phoem{
    padding: 10px;
}

.foot_social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
.social{
    padding: 2px;
    opacity: 0.8;
}

.social:hover{
    opacity: 1;
    cursor: pointer;
}

/*============================================FOOTER=============================================*/











/*===============================USTAWIENIA HEADERA @MEDIA============================*/

@media screen and (max-width: 768px) {
        header {
            justify-content: space-between;
        }

        nav {
            display: none
        }

        nav {
            background: rgb(12, 29, 65);
            background: linear-gradient(90deg, rgba(12, 29, 65, 1) 0%, rgba(4, 13, 33, 1) 87%, rgba(4, 13, 33, 1) 100%);
            width: 100%;
            min-height: auto;
        }

        label{
            display: block;
            margin-right: 20px;
        }

        label:hover {
            cursor: pointer;
            opacity: 0.8;
            transform: rotate(360deg);
            transition-duration: .8s;
        }

        .logo_header {
            margin-left: 20px;
        }

        #burger:checked ~ nav {
            display: block;
            position: absolute;
            top: 50px;
            width: 100%;
        }
        #burger:checked ~ label .open{
            display: none;
        }

        #burger:checked ~ label .close{
        display: block;
    }

        ul {
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 100%;
            text-align: center;
        }

    }

/*===============================USTAWIENIA HEADERA @MEDIA============================*/


/*===============================USTAWIENIA SECTION IMIĘ NAZWISKO MOON ROCKET @MEDIA============================*/


@media screen and (max-width: 768px) {
    .section_home {
        padding-top: 20px;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .article_left{
        width: 100%;
        margin-bottom: 30px;
    }

    .article_left h1{
        font-size: 3em;
        text-align: center;
        margin: 20px 0 0 0;
    }
    .article_left h2{
        font-size: 2.2em;
        position: static;
        text-align: center;
        margin: -15px 0 0 0;
        padding-bottom: 10px;
    }
    .article_left p{
        text-align: center;
        margin: 7px 0 0 0;
        font-size: 1.2em;
        padding: 0 10px 0 10px;
        position: static;
    }
    .article_right{
        width: 100%;
        display: flex;
        position: relative;
        left: 0;
    }
    .rocket{
        padding: 0;
        width:250px;
        height:250px;
    }
    #moon{
        width:340px;
    }
}
/*===============================USTAWIENIA SECTION IMIĘ NAZWISKO PIC @MEDIA============================*/



/*===============================USTAWIENIA FOOTER @MEDIA============================*/



@media screen and (max-width: 768px) {
    footer {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .foot_about, .foot_contact, .foot_social {
        width: 100%;
    }
}



/*===============================USTAWIENIA FOOTER @MEDIA============================*/



/*===============================KEYFRAMES MOON ROCKET============================*/

@keyframes spin{
    0% { -webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25% { -webkit-transform: rotate(90deg);transform:rotate(90deg);}
    50% { -webkit-transform: rotate(180deg);transform:rotate(180deg);}
    75% { -webkit-transform: rotate(270deg);transform:rotate(270deg);}
    100% { -webkit-transform: rotate(360deg);transform:rotate(360deg);}
}

/*===============================KEYFRAMES MOON ROCKET============================*/


















/*======================================FORM========================================*/


/*------------------------------USTAWIENIA KONTENERA---------------------------------*/


.container_form{
    width: 80%;
    display: flex;
    margin: 10px auto;
    flex-wrap: wrap;
}





.form_left, .form_right{
    width: 50%;
    padding-top: 20px;
}
/*-------------------------------USTAWIENIA KONTENERA---------------------------------*/


/*-------------------------------FORM CONTACT LEFT SITE--------------------------------*/


.form_left{
    font-family: 'Roboto', sans-serif;
    color: #0c1c40;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form_left p{
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;

}

.adress_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.phone_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.email_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

/*-----------------------------FORM CONTACT LEFT SITE--------------------------------*/








/*-------------------------------FORM CONTACT RIGHT SITE------------------------------*/


.form_right{
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: 0.7em;
    flex-direction: column;
    border-radius: 6px;
}

.text_size{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #f0f1f8;
    font-size: 2em;
}




.input_box{
    padding: 5px;
}



textarea{
    min-height: 110px;
    border: none;
    border-radius: 6px;
    background: #f0f1f8;
    width: 100%;
    font-size: 2.5em;
    resize: none;
}




.buttonn{
    margin-top: 20px;
    color: #fff;
    font-size: 1.8em;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #1e85ec;
    padding: 8px 16px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    width: 120px;
}
.buttonn:hover{
    background: rgba(30,133,236,0.84);
    cursor: pointer;
}





.contact_us{
   font-size: 3em;
    text-transform: uppercase;
    color: rgba(11,28,63,0.84);
    font-weight: bold;
    padding-bottom: 20px;
}


.no_rot{
    display: block;
}
/*-----------------------------FORM CONTACT RIGHT SITE------------------------------*/






/*-----------------------------FORM CONTACT MEDIA-----------------------------------*/


@media screen and (max-width: 768px) {
    .container_form {
        width: 100%;
        padding: 10px;
        flex-direction: column-reverse;
    }

    .form_left, .form_right {
        width: 100%;
    }
    .no_rot:hover{
        transition: none;
    }
    form{
        position: relative;
        left: 10px;
    }
}


/*--------------------------------FORM CONTACT MEDIA-------------------------------*/


/*=======================================FORM=======================================*/

